@charset "utf-8";
body {
     background-color: lightgreen;
    }
body nav {
	background-color: white;
	border-style: solid;
}
p {
}
h2 {
	text-align: center;
}
h1 {
	text-align: center;
}



@media screen and (min-width:500px) and (max-width:700px){
}
